<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


</head>
<body>
    <!-- computed 속성 : property의 일종, property를 연산한 값 -->
    <!-- watch 속성 : property의 변화를 감지해서 필요한 process 진행 -->
    <div id="app">
        <input type="number" v-model.number="price">원
        <input type="number" v-model.number="count">개
        <p> 합계 : {{sum}}</p>
        <p> 부가세 포함 금액 : {{taxIncluded}}</p>
        <br>
        <input v-model="today">
        {{today}}
        <br>
        <p>감상은 50자 이내로 입력해주세요</p>
        <p v-bind:style="{color:computedColor }">
            남은 글자는 {{remaining}} 입니다.</p>
        <textarea v-model="myText" v-bind:disabled="disTextArea"></textarea>
        <hr>
        <p v-text="printDate()"></p>
        <button @click="getDate">날짜</button>

    </div>

    <script>

        new Vue({

            el:'#app',

            data :{ // v-model은 전부 data 요소
                price: 0,
                count: 0,
                myText : ''
              
            },
            
            computed : { // 값이 변화하는 것을 감지하여 연산.
                         // 매개변수 없는 함수 형태.
                         // 산출 property -> data 속성의 property에 의존적
                         // 함수형태지만 data가 변화되지 않으면 고정 값.

                sum: function(){ 
                    return this.price*this.count;
                },
                taxIncluded: function(){
                    return this.sum*1.1;
               // 같은 computed 속성인 sum을 함수안에 불러올 수 있다.
                },
                today : function(){
                    return new Date();
                  // 값이 고정되어 상수처럼 사용해야 한다.
                } ,
                computedColor: function(){ // 입력받는 myText에 따라 변화하는 값
                   
                    let col = 'green';

                    if(this.remaining <20){
                        col = 'orange';
                    }
                    if(this.remaining <1){
                        col = 'red';
                    }
                    return col;
                },
                remaining : function(){ // 입력받는 myText에 따라 변화하는 값
                    return 50 -this.myText.length;

                },
                disTextArea : function(){
                    let value = false;
                    if(this.remaining < 1){
                        value = true;
                    }
                    return value;
                }
            },
            methods : { // 호출할 때 마다 연산이 일어난다.
                printDate : function(){
                    return '오늘 날짜 : '+ Date.now(); // 이 값은 변하지 않는데,
                },
                getDate : function(){
                    alert(this.printDate()); // 이 값은 계속 변한다
                }
            }
        })

    </script>
    

    <div id="app2">
    <!-- input의 value 속성이 비어있으면 모든 데이터가 보이고 
                       검색을 하면 해당되는 데이터만 보이도록   -->
    <!-- 난이도 ★★★★★★★★★★★★★★★★★★★★★★★★★ -->
    <input type="text">
    <ul></ul>
   </div>

    <script>
        // input 입력에 따른 변화 -> 이벤트, 이벤트 핸들러를 등록
        // 입력이 없을 경우 dataList가 전부 목록으로 출력
        // 한 글자라도 입력이 있을 경우 dataList에서 포함되는 값을 분류
        // 그 분류한 것으로 기존의 목록을 대체

        
        let dataList = ['설악산','한라산','북한산','백두산','지리산'];
       

      //---------------------------------- 제이쿼리
      $(document).ready(function(){
      
      init();

      $('#app2 > input:text:eq(0)').on('change', changeData);
        // change event는 Enter로 작동을 한다.
        // vue와 다르게 변화를 실시간 감지하지 않아 값이 바로 출력 되지 않는다.

      function changeData(){ 
          $('#app2 > ul:first').empty();

          let keyword = $('#app2 > input:text:eq(0)').val();
          if(keyword != ''){
              $(dataList).each(function(idx, val){
                //dataList 안에 있는 값과 비교
              if(val.match(keyword)){
                  $('#app2 > ul:first').append(
                      $('<li />').text(val)
                  );
                  }
              })
          }else{
              init();
              }
          }


          function init(){
              $(dataList).each(function(idx, val){
                  $('#app2 > ul:first').append(
                      $('<li />').text(val)
                      );
                  });
              }
          });
   
        
    </script>

    <div id="app3">
         <!-- input의 value 속성이 비어있으면 모든 데이터가 보이고 
                       검색을 하면 해당되는 데이터만 보이도록   -->
    <input type="text" v-model="findWord">
        <ul>
            <li v-for="items in findItems">{{ items }}</li>
        </ul>
    </div>

    <script>

     new Vue({
            el : '#app3',
            data : {
                findWord : '',
                items : dataList //원본 데이터
            },
            computed : {
                findItems : function(){
                    if(this.findWord){
                        //console.log('computed : ',this);
                        return this.items.filter(function(value){
                            //원본데이터에 filter 걸어서 새로운 배열로 나타냄.
                        // console.log('filter : ',this);
                            return (value.indexOf(this.findWord) > -1);
                        },this)
                    } else {
                        return this.items;
                    }
                }
            }

        })
    </script>

    <div id="app4">
        <p>금지문자 [ {{ forbiddenText }} ]</p>
        <textarea v-model="inputText"></textarea>
        <br>
        <br>
        <p>앞으로 {{restSec}}</p>
        <button v-on:click="startTimer">START</button>

    </div>

    <script>

    new Vue({
            el : '#app4',
            data : {
                forbiddenText: '새똥',
                inputText : '',
                restSec : 10,
                timerObj : null
            },
            methods : {
                startTimer : function() {
                    clearInterval(this.timerObj); // 기존의 것 stop
                    this.restSec =10;
                    this.timerObj = setInterval(() =>{this.restSec--},1000); 
                    // setInterval() -> 특정한 시간
                    // 1초마다 마이너스
                }
            },
            watch : { // 값이 변할 때 마다, 어떤 동작을 일으킨다.
                inputText : function() {
                   
                   let pos= this.inputText.indexOf(this.forbiddenText);
                    if(pos > -1){
                        alert(this.forbiddenText + '는 입력할 수 없습니다.');
                        this.inputText =this.inputText.substr(0,pos); //처음부터 pos의 앞까지 삭제
                        // 오늘은 '주말' -> 오늘은 (공백주의)
                    }
                },
                restSec : function() {
                    if(this.restSec <= 0){
                        alert('제한시간입니다');
                        clearInterval(this.timerObj);
                    }
                          }

        }
    })
    </script>
</body>
</html>